[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "rwicc"]
	path = rwicc
	url = https://github.com/morrison-lab/rwicc
[submodule "snapr"]
	path = snapr
	url = https://github.com/morrison-lab/snapr
